* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-button: orange;
    --color-button: black;
    --background-color-main: #333; 
}

body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ui {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
}

button.hidden {
    display: none;
}

.game-container {
    margin-top: 20px;
    border: 3px solid #444;
    background-color: #333;
}

#controls {
    margin-top: 10px;
}

#score {
    margin: 10px 0;
    font-size: 20px;
}

canvas {
    background: #333;
    display: block;
}


